<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_tag 'edacc_small.gif' %>
    
    <title><%= current_page.data.title || "EDACC" %></title>
    
    <script src="https://code.jquery.com/jquery.js"></script>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "bootstrap" %>
    <%= javascript_include_tag "bootstrap.min" %>
    
  </head>
  <body style="font-family: 'Open Sans', sans-serif;" class="<%= page_classes %>">
    <div class="container">
        <div class="navbar navbar-inverse">
          <a class="navbar-brand" href="/"><%= image_tag 'edacc_small.gif', :width => '30', :class => 'logo' %></a>
          <ul class="nav navbar-nav">
            <li class="<%= current_page.url == '/' ? 'active' : '' %>"><a href="/">about</a></li>
            <li class="<%= current_page.url == '/source/' ? 'active' : '' %>"><a href="/source">source</a></li>
            <li class="<%= current_page.url == '/documentation/' ? 'active' : '' %>"><a href="/documentation">documentation</a></li>
            <li class="<%= current_page.url == '/community/' ? 'active' : '' %>"><a href="/community">community</a></li>
          </ul>
        </div>

      <%= yield %>
    </div>
  </body>
</html>

